.title{
	margin:4%;
	/*color: #563d7c;*/
	color: white;
	line-height: 1.1;
	text-align: center;
	list-style-position: inside;
	font-family: Arial, Verdana, sans-serif, "Trebuchet MS";
}
.main{
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #27285D;
	margin: 0px;
	height: 100%;
	width: 100%;
}
.prompter{
	color: white;
	line-height: 1.1;
	text-align: center;
	list-style-position: inside;
	font-family: Arial, Verdana, sans-serif, "Trebuchet MS";
}
.prompter h1{
	font-size: 5rem !important 

}
.timer{
	height: 40%;
	background-color: black;
	color: white;
	padding-top: 1%;
	opacity: 0.5;
	font-family: Arial, Verdana, sans-serif, "Trebuchet MS";
}